*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins",sans-serif;
}
/*header part*/
body{
    width: 100%;
    background-color: #FEFCFB;
    margin: 0 auto;
}
.wrap{
    padding: 2rem 15rem;
}
header{
    width: 100%;
    height: 80px;
}
.travel-vector{
    width: 0.8rem;
    display: inline-block;
}
.logo{
    font-family: "Volkhov",sans-serif;
    font-weight: 700;
    font-size: 16.5px;
    letter-spacing: 0.5px;
}
.nav-links{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    list-style: none;
}
.nav-links li a {
    font-family: "poppins", sans-serif;
    font-weight: 400;
    font-size: 12px;
    text-decoration: none;
    color: #222222;
}
.btn{
    font-weight: 500;
    font-size: 12px;
    color: #FD8D3A;
    border-style: none;
    background: transparent;
}
.nav-bar{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.sign-up{
    background-color: #FA7436;
    color: #FFFFFF;
    height: 15%;
    padding: 10px 32px 10px 32px;
    border-radius: 4px;
    box-shadow: 0px 5px 15px rgba(0,0,0, 0.1);
    cursor: pointer;
    transform: translateX(40%);
}
.login{
    cursor: pointer;
}
.nav-buttons{
    transform: translateX(-30%);
}
.hero-section{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 50px;
}
.heading{
    color: #222222;
    font-size: 45px;
    line-height: 50px;
}
.color{
    color: #FA7436;
    font-family: "Volkhov",sans-serif;
}
.paragraph{
    font-weight: 400;
    font-size: 14px;
    padding-top: 20px; 
    line-height: 30px;
    color: #666666;
}
.discover, .explore-btn{
    font-weight: 500;
    font-size: 12px;
    border: 1px #FA7436 solid;
    text-decoration: none;
    color: #FA7436;
    padding: 12px 22px 12px 22px;
    border-radius: 4px;
}
.discover-button{
    margin-top: 45px;
}
.hero-text{
    margin-top: 3rem;
}
.flight{
    width: 135%;
    height: 30%;
    position: relative;
    right: 16%;
    margin-top: -5%;
}
.hero-image{
    width: 90%;
    position: relative;
    left: 10%;
    margin-top: -25%;
}
.award{
    background-color: #FFFFFF;
    border-radius: 5px;
    padding: 5px 5px 5px 5px;
    box-shadow: 0px 5px 15px rgba(195, 192, 192, 0.2);
    position: absolute;
    margin-top: -24.5%;
}
.trophy, .map, .star{
    transform: scale(0.7) translateY(20%);
}
.para{
    display: inline-block;
    font-weight: 500;
    font-size: 12px;
    color: #444444;
}
.explore, .review{
    background-color: #FFFFFF;
    border-radius: 5px;
    padding: 5px 3px 5px 4px;
    box-shadow: 3px 0px 3px rgba(0,0,0, 0.1);
    line-height: 12px;
    position: absolute;
    margin-top: -11%;
}
.para1{
    display: inline-block;
}
.sub-line{
    display: block;
    font-weight: 400;
    color: #666666;
    margin-top: 8px;
}
.review{
    line-height: 14px;
    padding: 7px 2px 7px 2px;
    box-shadow: -5px 0px 15px rgba(0,0,0, 0.1);
    margin-left: 2%;
}
.explore{
    margin-left: 21%;
    margin-top: -18%;
}
.research-bar{
    background-color: #FFFFFF;
    color: #222222;
    font-weight: 600;
    font-size: 12px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 70%;
    padding: 25px 18px 25px 18px;
    border-radius: 5px;
    box-shadow: 0px 0px 25px rgba(0,0,0, 0.05);
    position: relative;
    margin-left: 14%;
    margin-top: 3%;
    margin-bottom: 5%;
}
.ldg{
    display: inline-block;
}
.shape{
    width: 10%;
    cursor: pointer;
}
small{
    font-weight: 400;
    color: #666666;
}
.location, .date, .guest{
    line-height: 20px;
}
.explore-btn{
    background-color: #FA7436;
    color: #FFFFFF;
    font-weight: 400;
}
/*things-to-do*/
.wrap-2{
    background-color: #F7F8FC;
}
.h2-heading{
    text-align: center;
    margin-top: 7%;
}
.heading-2{
    color: #222222;
    font-size: 35px;
    padding-bottom: 1%;
}
.navigation{
    position: absolute;
    margin-left: 17%;
    margin-top: -7%;
    width: 10%;
}
.image-logo{
    width: 12%;
}
.signup, .exiting-travel, .worth-of-money{
    background-color: #FFFFFF;
    border-radius: 6px;
    padding: 22px 0px 20px 25px;
    margin-top: 10%;
    box-shadow: 5px 5px 50px rgba(0,0,0, 0.01);
    width: 90%;
}
h4{
    font-weight: 600;
    font-size: 17px;
    padding-top: 10%;
}
.feature-box{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-self: center;
    margin-bottom: 8%;
}
.info{
    color: #666666;
    font-weight: 400;
    font-size: 11px;
    line-height: 20px;
    margin-top: 8%;
}
/*deals and discounts*/
.head-3{
    text-align: center;
}
.heading-3{
    font-size: 34px;
}
.image-align{
    width: 100%;
}
.madrid, .firenze, .paris, .london{
    background-color: #FEFCFB;
    width: 23%;
    border-radius: 10px;
    border: rgba(132, 131, 131, 0.1) solid 2px;
}
.madrid-sub-div, .firenze-sub-div, .paris-sub-div, .london-sub-div, .rome-sub-div, .uk-sub-div, .osaka-sub-div{
    display: flex;
    justify-content: space-between;
}
.h-4{
    color: #222222;
    font-weight: 500;
    font-size: 17px;
}
.actual-price{
    color: #999999;
    text-decoration: line-through;
    font-weight: 500;
    font-size: 11px;
}
.location-1, .rating, .discount-price{
    font-size: 12px;
}
.discount-price{
    border-radius: 7px;
    background-color: #FFE7DB;
    color: #FA7436;
    font-weight: 600;
    font-size: 11px;
    padding: 3px 5px 0px 5px;
}
.star-icon{
    width: 20%;
}
.location-vector{
    width: 20%;
}
.l-2{
    width: 25%;
}
.l-4{
    width: 35%;
}
.dollars{
    display: flex;
    justify-content: space-between;
    gap: 5px;
    flex-wrap: wrap;
    margin-top: 5%;
}
.sub-div{
    padding: 10px 15px 25px 15px;
}
.actual-price{
    margin-top: 4%;
}
.rating-star{
    margin-top: 5%;
    margin-right: -5%;
}
.location-bar{
    margin-top: 3%;
}
.book-now{
    color: #FFFFFF;
    font-weight: 400;
    font-size: 13px;
    padding: 7px 15px 7px 15px;
    border-radius: 5px;
    border: #FA7436 solid 1px;
    background-color: #FA7436;
    cursor: pointer;
    position: absolute;
    margin-top: -5.8%;
    margin-left: 4%;
}
.firenze-image{
    border-radius: 10px;
    background-size: cover;
    filter: contrast(90%) brightness(65%);
}
.firenze{
    box-shadow:  5px 5px 50px rgba(243, 136, 22, 0.12);
}
.destinations{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    flex-wrap: wrap;
    margin-top: 5%;
}
.left-arrow-align, .right-arrow-align{
    transform: scale(0.75);
}
.arrow-button{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1%;
    margin-top: 4%;
}
.wrap-3{
    margin-top: 5%;
    padding-bottom: 7%;
}
/*best vacation plan*/
.head-4{
    text-align: center;
}
.tree{
    width: 12%;
}
.tree-vector{
    text-align: end;
    margin-right: 17%;
    margin-top: -11%;
}
.arrow{
    margin-top: 5%;
    display: flex;
    justify-content:right;
    align-items: right;
    gap: 1%;
}
.arrow1, .arrow2{
    width: 70%;
}
.rome-italy, .london-uk, .osaka-japan{
    background-color: #FEFCFB;
    border-radius: 15px;
    border: rgba(132, 131, 131, 0.1) solid 2px;
}
.rome-italy-image, .london-uk-image, .osaka-japan-image{
    width: 100%;
}
.rome-italy, .london-uk, .osaka-japan{
    width: 31%;
}
.dollar{
    color: #FA7436;
    font-weight: 600;
    font-size: 17px;
    margin-top: 6%;
}
.navigate{
    width: 15%;
}
.rome-sub-div, .uk-sub-div, .osaka-sub-div{
    font-size: 14px;
}
.trip{
    margin-top: 2%;
}
.ratings{
    margin-top: 4%;
    margin-right: -5%;
}
.sub-division{
    padding: 2px 15px 7px 15px;
}
.destiny{
    margin-top: 1%;
}
.london-uk{
    box-shadow:  5px 5px 50px rgba(243, 136, 22, 0.12);
}
.wrap-4{
    margin-top: 3%;
    padding-bottom: 7%;
}
/*what people say about us*/
.testimonial-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: -10%;
}
.testimonial-text{
    font-family: "roboto", sans-serif;
    font-weight: 400;
    font-size: 13px;
    color: #666666;
    margin-top: 5%;
}
.testimonial-nav{
    display: flex;
    justify-content:flex-start ;
    align-items:flex-start ;
    gap: 5px;
    margin-top: 10%;
}
.nav-arrow1, .nav-arrow2{
    width: 70%;
}
.testimonial-para{
    color: #444444;
    font-size: 12px;
    font-weight: 500;
    line-height: 23px;
}
.author{
    margin-top: 10%;
}
.testimonial-location{
    font-size: 11px;
    font-weight: 500;
}
.testimonial-feedback-1, .testimonial-feedback-2{
    background-color: #FFFFFF;
    padding: 17px 50px 15px 25px;
    border-radius: 7px;
    /*filter: drop-shadow(0px 40px 15px rgba(105, 103, 101, 0.057)) ;*/
    position: relative;
    z-index: 1;
    margin-top: -8%;
}
.testimonial-image{
    position: relative;
    z-index: 10;
    margin-left: -5%;
}
.men-image{
    width: 13%;
}
.testimonial-flight-align{
    text-align: end;
}
.testimonial-flight{
    width: 14%;
    margin-top: 2%;
}
.right-card-2{
    margin-top: 38%;
    line-height: 20px;
    position: relative;
}
.testimonial-feedback-2{
    box-shadow:  0px 10px 30px rgba(88, 86, 84, 0.12);
    border: #e9e5e5 solid 2px;
    margin-top: -33%;
    z-index: 1;
    position: relative;
    left: 10%;
    opacity: 0.4;
}
.testimonial-feedback-1{
    z-index: 2;
    filter: drop-shadow(0px 40px 15px rgba(105, 103, 101, 0.057)) ;
}
.testimonial-right{
    margin-right: 14%;
}
.testimonial-left{
    margin-top: -5%;
}
.wrap-5{
    padding-bottom: 7%;
}
/*latest blog*/
.blog-heading{
    text-align: center;
}
.blog-sub-title{
    font-weight: 500;
    font-size: 12.5px;
    color: #222222;
    margin-top: 4%;
}
.blog-date{
    font-family: "inter", sans-serif;
    font-weight: 400;
    font-size: 11px;
    color: #999999;
    margin-top: 4%;
}
.blog-container{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 5px;
}
.blog-image{
    width: 90%;
}
.slidder-logo{
    width: 4.5%;
}
.slidder{
    text-align: center;
    margin-top: 3%;
}
.blog-container{
    margin-top: 4%;
}
.wrap-6{
    margin-top: 4%;
    padding-bottom: 5%;
}
/*subscribe-section*/
.subscribe-section{
    background: #FA7436;
    border-radius: 10px;
    text-align: center;
}
.tree-logo{
    text-align: end;
}
.tree-element{
    width: 10%;
    margin-top: 1%;
}
.subscribe-heading{
    color: #FFFFFF;
    margin-top: -3%;
}
.subscribe-text{
    font-size: 33px;
}
.form{
    background: #FFFFFF;
    border-radius: 5px;
    padding: 7px 15px 7px 7px;
    text-align: center;
    width: 57%;
    margin-left: 24%;
    margin-top: 5%;
    position: relative;
    z-index: 1;
}
input[type="email"]{
    border: none;
    color: #999999;
    font-size: 12px;
    opacity: 0.8;
}
input:focus{
    outline: none;
}
.mail-icon{
    width: 7%;
}
button[type="submit"]{
    background-color: #FA7436;
    color: #FFFFFF;
    font-size: 11.5px;
    font-weight: 400;
    opacity: 1;
    border: none;
    cursor: pointer;
    padding: 10px 20px 10px 20px;
    border-radius: 5px;
    margin-left: 6%;
}
.email{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.element{
    text-align: start;
    position: relative;
    margin-top: -23%;
    transform: translateY(5%);
}
.element-vector{
    width: 39%;
}
/*footer*/
.footer-text{
    font-size: 11px;
    font-weight: 500;
    color: #666666;
    margin-top: 5%;
    line-height: 20px;
    opacity: 0.99;
}
.footer-section{
    display: grid;
    grid-template-columns: 1fr 2fr;
    align-self: center;
    margin-top: 20%;
}
.footer-right{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin-left: 20%;
    padding-bottom: 4%;
}
.facebook, .instagram, .twitter{
    width:100%;
}
.footer-social{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 45%;
    margin-top: 5%;
}
.footer-links a{
    font-weight: 500;
    color: #666666;
    font-size: 13px;
    text-decoration: none;
    opacity: 0.9;
}
ul{
    list-style: none;
}
.footer-links{
    margin-top: 12%;
    line-height: 30px;
}
.footer-column-2{
    margin-left: 28%;
}
.line{
    width: 100%;
    border-bottom: 1px solid #999999;
    opacity: 0.5;
}
.footer-copyright{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 14px;
    margin-top: 3%;
    opacity: 0.8;
    cursor: pointer;
}
.wrap-8{
    position: relative;
    z-index: 1;
    margin-top: -14%;
}
.wrap-7{
    position: relative;
    z-index: 10;
}
/*media-queries*/
@media(max-width:1028px){
    .wrap{
        padding: 1rem 10rem;
    }
    .award{
        margin-left: -2%;
    }
    .explore{
        margin-left: 22%;
    }
    .hero-text br{
        display: none;
    }
    .navigation{
        width: 13%;
    }
    .signup, .worth-of-money, .exiting-travel{
        width: 95%;
    }
    .destinations{
        flex-wrap: nowrap;
    }
    .tree-vector{
        transform: translateX(10%);
    }
    .testimonial-right{
        margin-right: -1%;
    }
}
@media(max-width: 768px){
    .wrap{
        padding: 1rem 3rem;
    }
    .hero-text br{
        display: none;
    }
    .award{
        margin-top: -37%;
        margin-left: -2%;
    }
    .review{
        margin-top: -15%;
    }
    .explore{
        margin-left: 27%;
        margin-top: -25%;
    }
    .navigation{
        width: 16%;
        margin-left: 25%;
        margin-top: -10%;
    }
    .info br{
        display: none;
    }
    .madrid, .firenze, .london, .paris{
        width: 25%;
     }
     .book-now{
        margin-top: -8.5%;
     }
     .tree-vector{
        margin-right: -1px;
     }
     .tree{
        width: 12%;
     }
}
@media (min-width:320px) and (max-width:425px){
    .wrap{
        padding: 1rem 3rem;
    }
    .nav-links{
        display: none;
    }
    .nav-buttons{
        text-align: end;
        transform: translateX(20%);
    }
    .travel-vector{
        width: 23%;
        display: inline-block;
    }
    .hero-section{
        grid-template-columns: 1fr;
    }
    .heading, .heading-2{
        font-size: 30px;
    }
    .heading{
        line-height: 40px;
    }
    @media (min-width:425px){
        .heading{
            line-height: 45px;
        }
    }
    .hero-text br{
        display: none;
    }
    .explore{
        transform: scale(0.8);
        margin-left: 49%;
        margin-top: -45%;
    }
    .para1{
        font-size: 10px;
        line-height: 10px;
    }
    .award{
        margin-top: -60%;
        transform: scale(0.8);
    }
    .review{
        transform: scale(0.8);
        margin-top: -25%;
    }
    .para{
        font-size: 10px;
    }
    .research-bar{
        margin-left: -8%;
        width: 120%;
        display: grid;
        grid-template-columns: 1fr;
        gap: 5px;
    }
    .shape{
        width: 3%;
    }
    .explore-btn{
        width: 10%;
        padding: 5px 5px 5px 5px;
    }
    .head-description br{
        display: none;
    }
    .navigation{
        width: 20%;
        margin-top: -25%;
        margin-left: 30%;
    }
    .feature-box{
        grid-template-columns: 1fr;
    }
     .madrid, .firenze, .london, .paris{
        width: 70%;
     }
     .book-now{
        margin-top: -21%;
        margin-left: 14%;
        transform: scale(0.8);
     }
     .tree-vector{
        display: none;
     }
     .rome-italy, .london-uk, .osaka-japan{
        width: 90%;
    }
    .testimonial-container, .blog-container{
        display: grid;
        grid-template-columns: 1fr;
    }
    .slidder-logo{
        width: 10%;
    }
    .subscribe-text{
        font-size: 16px;
    }
    .subscribe-section{
        width: 115%;
    }
    button[type="submit"]{
        transform: scale(0.6);
    }
    input[type="email"]{
        font-size: 8px;
    }
    .form{
        padding: 0px 0px 0px 5px;
    }
    .footer-section{
        grid-template-columns: 1fr;
        align-self: center;
    }
    .footer-right{
        grid-template-columns: 1fr;
        gap: 15px;
        margin-left: 0%;
    }
    .footer-column-2{
        margin-left: 0%;
    }
    .vector{
        width: 5%;
    }
    @media (max-width:375px){
        .email{
            display: grid;
            grid-template-columns: 1fr;
        }
    }
}
/*pseudoclasses*/
.sign-up:hover{
    background: linear-gradient(to right, hsl(17, 98%, 61%), hwb(48 22% 2%));
}
.login:hover{
    color: #776973;
}
.nav-links li a:hover{
    color: #FD8D3A;
}
.discover:hover{
    background-color: #FD8D3A;
    color: #FFFFFF;
}
.explore-btn:hover, .book-now:hover{
    background: linear-gradient(to left, hsl(55, 96%, 49%), hsl(20, 98%, 61%));
}
.left-arrow-align:hover, .right-arrow-align:hover, .arrow1:hover, .arrow2:hover, .nav-arrow1:hover, .nav-arrow2:hover{
    cursor: pointer;
}
.email button:hover{
    background: linear-gradient(to right, rgb(252, 111, 3), #f3a407);
}
input[type="email"]{
    caret-color: #7d7272;
}
.footer-links a:hover, .Copyright small:hover, .terms-conditions small:hover{
    color: #0c0c0c;
}